<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<style type="text/css">
body {
	padding-top: 50px
}

    .login-dialog .modal-dialog {
        width: 300px;
    }
</style>

<title>容器服务列表</title>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/bootstrapdialog/js/bootstrap-dialog.min.js}"></script>
<script th:src="@{/dataTables/js/jquery.dataTables.js}"></script>

<link rel="shortcut icon" th:href="@{/ecp/ecp.png}">
<link rel="stylesheet" th:href="@{/dataTables/css/jquery.dataTables.css}" >
<link rel="stylesheet" th:href="@{/bootstrapdialog/css/bootstrap-dialog.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

<script type="text/javascript">
	var datatable;
	var dialog_update;
	var restart;
	
    (function ($) {
	    $.getUrlParam = function (name) {
	        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	        var r = window.location.search.substr(1).match(reg);
	        if (r != null) return unescape(r[2]); return null;
	    }
    })(jQuery);
    $(document).ready(function() {
    $("#nav").load("nav.html");
    	$("#pagename").text($.getUrlParam('ipandport')+'容器列表');
    	 	
    	datatable=  $('#example').dataTable({
    	  "autoWidth": false,
    	  "order": [[ 5, "desc" ]],
    	  "sPaginationType": "full_numbers",
    	  'bStateSave': false,
    	  "language": {
    		  url: 'dataTables/i18n/zh_CN.txt'
	      },
    	  columns: [
                    {data: 'Names', defaultContent: '&nbsp',width:'200px'},
                    {data: 'Image', defaultContent: '&nbsp',width:'200px'},
                    {data: 'Ports', defaultContent: '&nbsp',width:'90px'},
                    {data: 'Status', defaultContent: '&nbsp',width:'150px'},
                    {data: 'Created', defaultContent: '&nbsp',width:'110px'}
                   ],
                   fnRowCallback : function(nRow, aData, iDisplayIndex) {
               	     $("td", nRow).eq(0).css({
                   		"word-break":"break-word"
                    })
               	   	$("td", nRow).eq(1).css({
                 		"word-break":"break-word"
                    })   
               		$("td", nRow).eq(4).css({
               			width: "200px",
               		})
                   },

       "columnDefs": [
          {
              targets: 4,
              render: function (data, type, row) {
              var  $str = '';
              if(row.Status.indexOf("Up") > -1){
            	   $str+='<a class="btn btn-danger" href="#" onclick="stopcontainer(\'' + row.Id + '\',\''+row.Names +'\');"><i class="glyphicon glyphicon-stop icon-white"></i>停止</a>&nbsp;';            	  
            	   $str+='<a class="btn btn-danger" href="#" onclick="restartContainer(\'' + row.Id + '\', true);"><i class="glyphicon glyphicon-stop icon-white"></i>重启</a>&nbsp;';
              }else{
            	   $str+='<a class="btn btn-success" href="#" onclick="startcontainers(\'' + row.Id +'\',\''+row.Names + '\');"><i class="glyphicon glyphicon-ok icon-white"></i>启动</a>&nbsp;';
              }             
              if(row.Status.indexOf("Up") == -1){
            	   $str+='<a class="btn btn-danger " href="#" onclick="deletecontainers(\'' + row.Id+'\',\''+row.Names + '\', this);"><i class="glyphicon glyphicon-trash icon-white"></i>删除</a>';
              }else{
            	   $str+='<a class="btn btn-success" href="javascript:void(0);" onclick="update(\'' + row.Id+'\',\''+row.Image + '\');"><i class="glyphicon glyphicon-upload icon-white"></i>更新 </a>&nbsp;';
              }
              $str += '';
              return $str;
              }           
          },
          {
        	  targets: 3,
              render: function (data, type, row) {
            	 // <span class="label-success label label-default">Active</span>
            	  var $str;
            	 if(data.indexOf("Up") > -1){
            		  $str='<span class="label-success label label-default">' + row.Status + '</span>';
            	 } else {
            		  $str='<span class="label-default label label-danger">' + row.Status + '</span>';
            	 }
             if(!row.Status ){
            		  $str='<span class="label-default label label-danger">未启动</span>';
            	 }
              return $str;
              }  
          },
          {
        	  targets: 0,
              render: function (data, type, row) {
              $str='<a href="#" onclick="infocontainers(\'' + row.Ports + '\',\'' + row.Image + '\',\'' + row.Id + '\');">' + row.Names + '</a>';
                 return $str;
              }  
          },
          {
             targets: 1,
             render: function (data, type, row) {
          	    var tmp = data.substring(data.indexOf("/") + 1);
          	    var index = tmp.indexOf("/");
          	    if (index != -1) {
          	       tmp = tmp.substring(index + 1);
          	    }
          	    return tmp;
             }
          },
          {
        	  targets: 2,
              render: function (data, type, row) {
                var inf = "";
                $.each(data, function(k, v){
                  //{"Type":"tcp","IP":"0.0.0.0","PrivatePort":9180,"PublicPort":32859}
                  //0.0.0.0:5000->5000/tcp
                  inf = v.IP + ':' + v.PublicPort + "->" +v.PrivatePort + "/" + v.Type + '<br>' + inf + '<br>';
                })
                
                 $str='<a href="#" onclick="mappings(\'' + inf + '\',\'' + row.Image + '\',\'' + row.Id + '\');">映射情况</a>';
                 return $str;
              }  
          },
          {
              "targets": [ 5 ],
              "visible": false
            },
          {
        	  targets: 5,
              render: function (data, type, row) {
                 $str='<a href="#" >'+row.Created+'</a>';
                 return $str;
              }  
          }
        ],
        "ajax": "/docker/listContainers?host=" + $.getUrlParam('ipandport')
      });
    $('#example tbody').on('click', 'tr', function () {
    	$(this).toggleClass('selected');
    	var selectedData = datatable.DataTable().rows('.selected').data();
    	if(selectedData.length>0){
    		$(selectedData).each(function(){
    			if (this.Zt==true) {
    				$('#stop-container').removeClass("disabled");
    			} else {
		   			$('#remove-container').removeClass("disabled");
    			}
    		});
   		}else{
   			$('#stop-container').addClass("disabled");
   			$('#remove-container').addClass("disabled");
   		}
       });
    });
    function alertResult(title,message) {
    	var dialog = new BootstrapDialog({
			title:title,
			message: message,
			closable: false,
			buttons:[{
				label:"关闭",
				action:function(selfDialog){
					selfDialog.close();
					datatable.DataTable().ajax.reload(); 
				}
			}]
		}).open();
    }
    
    function update(id,projetName){
            var dialog = hintDialog();
            
            var projetName = projetName.substring(projetName.indexOf("/") + 1);
            var index = projetName.indexOf("/");
            if (index != -1) {
               projetName = projetName.substring(index + 1);
            }
            index = projetName.indexOf(":");    
            if (index != -1) {
               projetName = projetName.substring(0, index);
            }   
            $.ajax({
            type: "GET",
            url: "/docker/update", 
            dataType: "text",
            data: { containerName: id , host : $.getUrlParam('ipandport'), projetName: projetName},
            success: function(data){
                dialog.close();
                if(data.indexOf("success") != -1){
                    alertResult("更新完毕");
                    datatable.DataTable().ajax.reload();
                } else {
                    alertResult("执行结果", +name+'更新失败'+ data);
                }
            },
            error: function(response){
                BootstrapDialog.show({
                    title: '错误提示',
                    message: response.responseText
                }); 
            }
        });
    }
    
    function stopcontainer(id,name){
        	var dialog = hintDialog();
        	
        	$.ajax({
            type: "GET",
            url: "/docker/stopContainer", 
            dataType: "text",
            data: { containerId: id , host : $.getUrlParam('ipandport')},
            success: function(data){
                dialog.close();
                if(data.indexOf("success") != -1){
                    datatable.DataTable().ajax.reload();
                } else {
                    alertResult("执行结果", +name+'停止失败'+ data);
                }
            },
            error: function(response){
                BootstrapDialog.show({
                    title: '错误提示',
                    message: response.responseText
                }); 
            }
        });
    }
    
    //增加提示.    
    function hintDialog() {
    	var dialog = BootstrapDialog.show({
    		type: BootstrapDialog.TYPE_WARNING, 
    		title: '提示',
    		closable: false,
            message: '处理中...',
            buttons: []
        });
    	return dialog
    }
    
    function stopRows() {
    	var resultState;
    	BootstrapDialog.show({
    		type: BootstrapDialog.TYPE_WARNING, 
    		title: '提示',
    		closable: false,
            message: '您确定要停止' + datatable.DataTable().rows('.selected').data().length + '个容器吗？',
            buttons: [{
	                label: '确定',
					cssClass: 'btn-warning',
	                action: function(dialogItself){
	                	batchStop();
	                	dialogItself.close();
	                }
	            },  {
	                label: '取消',
	                cssClass: 'btn-warning',
	                action: function(dialogItself){
	                    dialogItself.close();
	                }
	            }]
	        });
	}
    
    function batchStop() {
    	var rows = datatable.DataTable().rows('.selected').data();
    	var map = {};
    	var ids = "";
    	$(rows).each(function(){
    		var that = this;
    		var id = that.Id;
    		var name = that.Names;
    		map[id] = name;
    		if ("" != ids) {
    			ids += "~~~" + id; 
    		} else {
				ids += id;	                			
    		}
    	});
    	var dialog = hintDialog();
		$.post("/dockerwebconsole/ContaninersServlet", {
			url: "contaniners_stop",
			id: ids ,
			ipandport : $.getUrlParam('ipandport')},
    		function(resultData){
				dialog.close();
				var datas = resultData.split("###");
				var message = "";
				for (var i =0; i < datas.length; i++) {
					var strs = datas[i].split("^^");
					var resultStr = (strs[1].trim() == "success")? "停止成功<br>":"停止失败<br>"
					message += map[strs[0]] + resultStr;
				}
				alertResult("执行结果", message);
    	});
    }
    
    function startcontainers(id,name){
    	   var dialog = hintDialog();
       $.ajax({
            type: "GET",
            url: "/docker/startContainer", 
            dataType: "text",
            data: { containerId: id , host : $.getUrlParam('ipandport')},
            success: function(data){
                dialog.close();
                if(data.indexOf("success") != -1){
                    datatable.DataTable().ajax.reload();
                } else {
                    alertResult("执行结果", +name+'启动失败'+ data);
                }
            },
            error: function(response){
                BootstrapDialog.show({
                    title: '错误提示',
                    message: response.responseText
                }); 
            }
        });
    }
    function deletecontainers(id, name, that){
    	var dialog = hintDialog();
    	BootstrapDialog.show({
    		//size: BootstrapDialog.SIZE_LARGE,
    		type: BootstrapDialog.TYPE_WARNING, 
    		title: '提示',
    		closable: false,
            message: '确定要删除容器'+name,
            buttons: [ {
                label: '确定',
                cssClass: 'btn-warning',
                action: function(dialogItself){
                    $.ajax({
                        type: "GET",
                        url: "/docker/deleteContainer", 
                        dataType: "text",
                        data: { containerId: id , host : $.getUrlParam('ipandport')},
                        success: function(data){
                            dialog.close();
                            if(data.indexOf("success") != -1){
                                datatable.DataTable().ajax.reload();
                            } else {
                                alertResult("执行结果", +name+'停止失败'+ data);
                            }
                        },
                        error: function(response){
                            BootstrapDialog.show({
                                title: '错误提示',
                                message: response.responseText
                            }); 
                        }
                    });
                    dialogItself.close();                   
                }
            },  {
                label: '取消',
                cssClass: 'btn-warning',
                action: function(dialogItself){
                    dialog.close();
                    dialogItself.close();
                }
            }]
        });
    }
    
    //重启容器
    function restartContainer(id, hintFlag) {
        var dialog = null;
        if (hintFlag) {
            dialog = hintDialog();
        }
        $.ajax({
            type: "POST",
                url: "/docker/restartContainer",
                dataType: "text",
                data: { containerId: id , host : $.getUrlParam('ipandport')},
                success: function(data){
                    if (dialog != null) {
                        dialog.close();
                    }
                    if (data.trim()=="success") {
                        $("#progress-bar").css({ width: "100%"});
                        $("#hint").html("重启结束");
                        datatable.DataTable().ajax.reload();
                    } else {
                        $("#hint").html("更新实例创建失败<br>" + json.msg)
                    }
            },
                error: function(response){
                    alertResult("执行失败", response.responseText);
                }
        });
    }
    
    function mappings(ports, image, id) {	
		var dialogInstance3 = new BootstrapDialog()
        .setTitle('映射信息')        
        .setType(BootstrapDialog.TYPE_INFO);
		
		dialogInstance3.setMessage(ports);
		dialogInstance3.open();
	}
    
	function infocontainers(ports, image, id) {	
		var dialogInstance3 = new BootstrapDialog()
        .setTitle('容器信息')        
        .setType(BootstrapDialog.TYPE_INFO);
		
		$.getJSON("/docker/inspectContainer", {
			container : id,
			host : $.getUrlParam('ipandport')
		}, function(data) {
		    if (data && data.retMsg == "success" && data.result) {
		        data = data.result;
		        dialogInstance3.setMessage(dialogmessage(data,id,ports,image));
                dialogInstance3.open();
		    } else {
		      BootstrapDialog.alert(data.retMsg);
		    }
			
		});	
		
	}
	function dialogmessage(data,id,ports,image){
		var host = $.getUrlParam('ipandport').split(":")[0];
		var ipandport = $.getUrlParam('ipandport');
		var $content='<div class="tab-pane fade in active" id="home">   ';   
		$content+='<p class="text-info" id="id"><span class="glyphicon glyphicon-circle-arrow-up" style="text-shadow: black 2px 2px 2px;">		</span>    Id : '+id+'</p>';
	    $content+='<p >创建时间: '+data.Created+'</p>';
		$content+='<p>Path: '+data.Path+'</p>';
		$content+='<p>容器IP: '+data.NetworkSettings.IPAddress+'</p>';
		
		var appPort = null;
		var appUrl = null;
		var configUrl = "/docker/viewFile?fileName=/root/application.yml&host=" + ipandport + "&containerName=" + id
		
		if (image.indexOf("dingding") != -1) {
          appPort = data.NetworkSettings.Ports["8090/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/";
          logUrl = "/docker/viewFile?fileName=/root/logs/dingding.log&host=" + ipandport + "&containerName=" + id
        }
        if (image.indexOf("budget") != -1) {
          appPort = data.NetworkSettings.Ports["9400/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/";
          logUrl = "/docker/viewFile?fileName=/root/logs/budget.log&host=" + ipandport + "&containerName=" + id
          configUrl = "/docker/viewFile?fileName=/root/application-prod.yml&host=" + ipandport + "&containerName=" + id
        }
        if (image.indexOf("scm-boss") != -1) {
          appPort = data.NetworkSettings.Ports["9300/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/";
          logUrl = "/docker/viewFile?fileName=/root/logs/budget.log&host=" + ipandport + "&containerName=" + id
          configUrl = "/docker/viewFile?fileName=/root/application-prod.yml&host=" + ipandport + "&containerName=" + id
        }
		if (image.indexOf("sms-web") != -1) {
		  appPort = data.NetworkSettings.Ports["9180/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/sms-web";
          logUrl = "/docker/viewFile?fileName=/root/logs/sms-web.log&host=" + ipandport + "&containerName=" + id
		}
		if (image.indexOf("sms-api") != -1) {
          appPort = data.NetworkSettings.Ports["9120/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/sms-api";
          logUrl = "/docker/viewFile?fileName=/root/logs/sms-api.log&host=" + ipandport + "&containerName=" + id
        }
        if (image.indexOf("oms-web") != -1) {
          appPort = data.NetworkSettings.Ports["9200/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/oms-web";
          logUrl = "/docker/viewFile?fileName=/root/logs/oms-web.log&host=" + ipandport + "&containerName=" + id
        }
		if (image.indexOf("oms-api") != -1) {
          appPort = data.NetworkSettings.Ports["9210/tcp"][0].HostPort;
          appUrl = 'http://' + host + ":" + appPort + "/oms-api";
          logUrl = "/docker/viewFile?fileName=/root/logs/oms-api.log&host=" + ipandport + "&containerName=" + id
        }
		
		$content+='<p><a href=' + appUrl + ' target="_blank">打开应用</a></p>';
		$content+='<p><a href=' + configUrl + ' target="_blank">查看应用配置文件</a></p>';
		$content+='<p><a href=' + logUrl + ' target="_blank">下载日志</a></p>';
		$content+='</div>';
		return $content;
	}
	function allselect(){		
		if($('#all-select').text().trim()=="全选"){
			datatable.find('tr').addClass('selected');
			$("#all-select").text("全不选");
		}else{
			datatable.find('tr').removeClass('selected');
			$("#all-select").text("全选");
		}
		if(datatable.DataTable().rows('.selected').data().length>0){
         	$('#remove-container').removeClass("disabled");
         }else{
         	$('#remove-container').addClass("disabled");
         }
	}
	function deleteRows() {
    	BootstrapDialog.show({
    		type: BootstrapDialog.TYPE_WARNING, 
    		title: '提示',
    		closable: false,
            message: '您确定要删除' + datatable.DataTable().rows('.selected').data().length + '个容器吗？',
            buttons: [{
	                label: '确定',
					cssClass: 'btn-warning',
	                action: function(dialogItself){
	                	var rows = datatable.DataTable().rows('.selected').data();
                		var map = {};
	                	var ids = "";
	                	$(rows).each(function(){
	                		var that = this;
	                		var id = that.Id;
	                		var name = that.Names;
	                		map[id] = name;
	                		if ("" != ids) {
	                			ids += "~~~" + id; 
	                		} else {
								ids += id;	                			
	                		}
	                	});
	                	var dialog = hintDialog();
                	 	$.post("/dockerwebconsole/ContaninersServlet", { url: "delete_start", id: ids ,	ipandport : $.getUrlParam('ipandport')},
	                        function(resultData){
                	 		    dialog.close();
	                	 		var datas = resultData.split("###");
	            				var message = "";
	            				for (var i =0; i < datas.length; i++) {
	            					var strs = datas[i].split("^^");
	            					var resultStr = (strs[1].trim() == "success")? "删除成功<br>":"没有正常删除"+strs[1].trim()+"<br>";
	            					message += map[strs[0]] + resultStr;
	            				}
	            				alertResult("执行结果", message);
	                        });
	                    dialogItself.close();
	                }
            	},  {
	                label: '取消',
	                cssClass: 'btn-warning',
	                action: function(dialogItself){
	                    dialogItself.close();
                	}
            	}]
        });
	}
	
	function refreshTable() {
       datatable.DataTable().ajax.reload();
    }
</script>
</head>

<body>
	<div id="nav">
	</div>
	<div class="container">
		<div>
			<h1 id="pagename"></h1>
		</div>
	</div>
	<div class="container">
		<table id="example" class="display" cellspacing="0" width="100%">		
			<thead>
				<tr>
				<th colspan="3" ></th>
				<th colspan="2" style="text-align:right;">
					<div><!--
							<button id="stop-container" type="button" class="btn btn-danger disabled" onclick="stopRows();">
					        停止所选
					        </button>
							<button id="remove-container" type="button" class="btn btn-danger disabled" onclick="deleteRows();">
					        删除所选
					        </button>
					        <button id="all-select" type="button" class="btn btn-danger" onclick="allselect();">
					         全选
					         </button>
					         -->
					         <button id="btnRefresh" type="button" class="btn btn-success" onclick='refreshTable();'>刷新</button>
					</div>
				</th>
				</tr>
				<tr>
					<th><span class="glyphicon glyphicon-th-list" ></span>名字</th>
					<th><span class="glyphicon glyphicon-qrcode" ></span>镜像</th>
					<th><span class="glyphicon glyphicon-export" ></span>端口</th>
					<th><span class="glyphicon glyphicon-star" ></span>	状态</th>
					<th><span class="glyphicon glyphicon-edit" ></span>	操作</th>
					<th><span class="glyphicon glyphicon-th-list" ></span>隐藏时间</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
				 	<th><span class="glyphicon glyphicon-th-list" ></span>名字</th>
					<th><span class="glyphicon glyphicon-qrcode" ></span>镜像</th>
					<th><span class="glyphicon glyphicon-export" ></span>端口</th>
					<th><span class="glyphicon glyphicon-star" ></span>	状态</th>
					<th><span class="glyphicon glyphicon-edit" ></span>	操作</th>		
					<th><span class="glyphicon glyphicon-th-list" ></span>隐藏时间</th>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>
